<div id="toolbar">
    <span class="ql-formats">
        <select class="ql-header" defaultValue="">
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value=""></option>
        </select>
        <select class="ql-font" defaultValue=""></select>
        <select class="ql-size" defaultValue="">
            <option value="small"></option>
            <option value=""></option>
            <option value="large"></option>
            <option value="huge"></option>
        </select>
    </span>
    <span class="ql-formats">
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
        <button class="ql-underline"></button>
        <button class="ql-strike"></button>
        <button class="ql-blockquote"></button>
    </span>
    <span class="ql-formats">
        <select class="ql-placeholder">
            <option value="foo">Foo</option>
            <option value="required">Required</option>
        </select>
    </span>
</div>
<div id="editor"></div>
